.container {
    border: 1px solid black;
    background-color: white;
}
.upper {
    background-color: #ebebeb;
    margin-bottom: 10px;
}
.lower {
    background-color: #ebebeb;
    padding-top: 10px;
}
.bottom {
    background-color: #ebebeb;
    margin-top: 10px;
}
h3 {
    display: inline-block;
    margin: 0 5px;
    padding-bottom: 20px;
}