.main {
    margin: 20px;
}
#myText {
    margin-bottom: 20px;
}

#left, #right {
    width: 200px;
    height: 200px;
    float: left;
    background: #36dd36;
    margin-top: 20px;
    border: 2px solid #1f551f;
}
#left {
    margin-right: 40px;
}
img {
    float: right;
}
